<div class="row">
    <div class="col">
        <div class="card-body">
            <h5><span style="font-size: 12pt;">Visualize gene expression per cluster</span></h5>
            <p>You can visualize the gene expression in a chosen cluster for one or multiple genes, under the <strong>Explore tab</strong>. There are 2 sections under the Explore tab:</p>
            <ol>
                <li><h6><span style="font-size: 11pt;">Expression (1 gene | multiple clusters)</span></h6></li>
                <p>Use <strong>Expession</strong> to visualize the expression of one gene.</p>
                <ul>  
                    <li>Enter a gene of interest and select a cluster from the drop-down list. click "Run" to display a 3 panel visual output.
                    <ul>
                        <li>Panel 1: <strong>3D plot</strong> of the gene expression across all cells in all clusters.</li>
                        <li>Panel 2: <strong>2D plot</strong> of the gene expression across all cells in the cluster selected above. Panel 2 also has a Download button. You can download a .csv file for that 2D plot with the <strong>gene-cell expression matrix</strong>.
                        <ol>
                            <li>Click and drag over a group of cells on the 2D plot.</li>
                            <li>Click "Download Expression" at the top of panel 2 to start the download.</li>
                        </ol>
                        </li>
                        <li>Panel 3: <strong>Violin plots</strong> with gene expression for all clusters. Each violin has the total cell count for each cluster (bottom of violin plots) as well as the count of cells expressing the gene(top of violin plots).</li>
                    </ul>
                    </li>
                </ul>
                <li><h6><span style="font-size: 11pt;">Panel Plot (multiple genes | 1 cluster)</span></h6></li>
                <p>Use <strong>Panel Plot</strong> to visualize the expression of multiple genes of interest in one cluster at a time.</p>
                <ul>
                    <li>Select a cluster from the drop-down list, paste a coma separated list of genes(no spaces) and click "Run".</li>
                    <li>The expression of each gene in the selected cluster is shown side by side in 2D plots, giving an <strong>overview of the abundance of cells expressing each gene</strong> in that specific cluster.</li>
                </ul>
            </ol>
            <h5><span style="font-size: 12pt;">Compute co-expression of genes</span></h5>
            <p>Visualize the co-expression of multiple genes in one or all clusters under the <strong>Co-expression tab</strong>. There are 3 sections under the Co-expression tab:</p>
            <ol>
                <li><h6><span style="font-size: 11pt;">AllClusters</span></h6></li>
                <p>Use the <strong>AllClusters</strong>  </p>
                <li><h6><span style="font-size: 11pt;">Selected cells</span></h6></li>
                <li><h6><span style="font-size: 11pt;">Binarize</span></h6></li>
            </ol>
