<div>
  <tr>
    <td>Sample ID</td>
    <td>{{ adata.uns["sampleid"] }}</td>
  </tr>
  {% if adata.uns["sample_name"] %}
  <tr>
    <td>Sample Name</td>
    <td>{{ adata.uns["sample_name"] }}</td>
  </tr>
  {% endif %}
  <tr>
    <td>Customer</td>
    <td>{{ adata.uns["customer_name"] }}</td>
  </tr>
  <tr>
    <td>Analyst</td>
    <td>{{ adata.uns["analyst_name"] }}</td>
  </tr>
  <tr>
    <td>Date generated</td>
    <td>{{ adata.uns["date_created"] }}</td>
  </tr>
  <tr>
    <td>Analysis version</td>
    <td>{{ adata.uns["analysis_version"] }}</td>
  </tr>
</div>
