<div>

  <div>
    <h1>Key metrics</h1>
    {% for key, value in adata.uns["10x_metrics"]["important"].items() %}
    <h2>{{key}}</h2>
    <h2>{{value}}</h2>
    {% endfor %}
  </div>

  <div>
    <h1>Sample level metrics</h1>
    <table>
    {% for key, value in adata.uns["10x_metrics"]["sample"].items() %}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div>
    <h1>Alignment metrics</h1>
    <table>
    {% for key, value in adata.uns["10x_metrics"]["alignment"].items() %}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div>
    <h1>Sequencing metrics</h1>
    <table>
    {% for key, value in adata.uns["10x_metrics"]["sequencing"].items() %}
      <tr>
        <td>{{key}}</td>
        <td>{{value}}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

</div>
